<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Hola</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ad iusto 
        accusantium magni animi libero ullam omnis incidunt, odit officiis non, 
        voluptatem nisi laborum quam. Eaque velit inventore quidem maxime.
    </p>
    <h2>
        menu
    </h2>
    <h3>
        Pagina official
    </h3>
</body>
</html>