<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/home-styles.css">
    <script src="../js/main.js"></script>
</head>
<body>
    <main>
        <nav id="menu">
            <ul>
                <li><a href="#">Inicio</a>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Fin</a></li>
                </ul>
                </li>
                <li><a href="#">Menu</a>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Productos</a></li>
                </ul>
                </li>
                <li><a href="#">Compras</a></li>
                <li><a href="#">Perfil</a></li>
            </ul>
        </nav>
        <div>
            ><h2 class="h2-bienvenida">ようこそ！</h2>
            <p>
                歓迎いたします！こちらへの訪問を心より歓迎いたします。どうぞくつろいで、お楽しみください。何か<b>質問</b>やお手伝いがございましたら、お気軽にお知らせください。
            </p>
        </div>
    </main>
</body>
</html>